<% content_for :breadcrumbs do %>
  <%= breadcrumbs home_path: pl_pod_path(@pod) do |list| %>
    <% if @person.caller.present? %>
      <% list.link "Callers", pl_callers_path(@pod) %>
    <% elsif @person.callee.present? %>
      <% list.link "Callees", pl_callees_path(@pod) %>
    <% end %>
    <% list.link @person.name, pl_person_path(@person) %>
  <% end %>
<% end %>
<div class="sm:flex sm:justify-between">
  <div>
    <h1 class="text-2xl font-semibold text-gray-900">
      <%= @person&.title.present? ? "#{@person.title.humanize} " : "" %><%= @person.name %>
      <% @person.roles.each do |role| %>
        <%= role_badge(role) %>
      <% end %>
      <% if false %>
        <% if @person.flag_in_progress %>
          <%= link_to flag_a_edit_person_path do %>
            <%= icon('bell-fill', class: "inline w-5 h-5 text-red-500") %>
          <% end %>
        <% end %>
      <% end %>
    </h1>
    <div class="flex flex-wrap">
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("telephone-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
        <% if @person.phone.present? %>
          <%= @person.phone %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("email-fill", class: "flex-shrink-0 mr-2 h-5 w-5 text-gray-400") %>
        <% if @person.email.present? %>
          <%= mail_to @person.email %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("house-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
        <% if address_to_string(@person).present? %>
          <%= address_to_string(@person) %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
    </div>
    <% if @person.opas_id.present? %>
      <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0">
        <div class="mr-6 mt-2 flex items-center text-sm text-gray-500">
          <dt class="text-sm font-medium text-gray-500">
            OPAS ID:
          </dt>
          <dd class="ml-1.5 text-sm text-gray-900">
            <%= @person.opas_id %>
          </dd>
        </div>
      </div>
    <% end %>
  </div>
</div>
<dl class="mt-6 mb-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
  <div class="sm:col-span-1">
    <% if @person&.caller.present? %>
      <dt class="text-sm font-medium text-gray-500">
        Matched with
      </dt>
      <% if @person&.caller&.matches.present? %>
        <% @person&.caller&.matches.each do |match| %>
          <dd class="mt-1 text-sm text-gray-900">
            <%= link_to match.callee.name, pl_match_path(match) %>,
            <span class="italic"><%= match.humanized_status %></span>
          </dd>
        <% end %>
      <% else %>
        <div class="mt-1 text-sm text-gray-900 italic">None</div>
      <% end %>
    <% elsif %>
      <dt class="text-sm font-medium text-gray-500">
        Matched with
      </dt>
      <% if @person&.callee&.matches.present? %>
        <% @person&.callee&.matches.each do |match| %>
          <dd class="mt-1 text-sm text-gray-900">
            <%= link_to match.caller.name, pl_match_path(match) %>,
            <span class="italic"><%= match.humanized_status %></span>
          </dd>
        <% end %>
      <% else %>
        <div class="mt-1 text-sm text-gray-900 italic">None</div>
      <% end %>
    <% end %>
  </div>
  <% if @person&.caller&.present? %>
    <div class="sm:col-span-1">
      <dt class="text-sm font-medium text-gray-500">
        Check-in frequency
      </dt>
      <dd class="mt-1 text-sm text-gray-900">
        <% if @person&.caller.present? %>
          <% if @person.caller.check_in_frequency.present? %><%= @person.caller.humanized_check_in_frequency %></span>
        <% else %>
          <span class="italic">Unknown</span>
        <% end %>
      <% end %>
    </dd>
  </div>
<% end %>
</dl>
<%= nav_tabs do |nav| %>
  <% nav.link "Events", pl_person_path(@person) %>
  <% if @note.present? && !@note.new_record? %>
    <% nav.link "Edit note", edit_pl_note_path(@note) %>
  <% else %>
    <% nav.link "New note", new_pl_note_path(@person) %>
  <% end %>
  <% if @person.callee %>
    <% nav.link "Details", details_pl_callee_path(@person.callee) %>
  <% end %>
  <% if @person.caller %>
    <% nav.link "Details", edit_pl_person_path(@person), partial_match: true %>
  <% end %>
  <% if @person.callee %>
    <% nav.link "Status", status_pl_callee_path(@person.callee) %>
  <% end %>
  <% if @person.caller %>
    <% nav.link "Status", status_pl_caller_path(@person.caller) %>
  <% end %>
  <% if @person.callee %>
    <% nav.link "Emergency contacts", emergency_contacts_pl_callee_path(@person.callee) %>
  <% end %>
<% end %>
