<div class="sm:flex sm:justify-between">
  <div>
    <h1 class="flex flex-wrap items-center text-2xl font-semibold text-gray-900">
      <div class="mr-2"><%= @person&.title.present? ? "#{@person.title.humanize} " : "" %><%= @person.name %></div>
      <div class="mb-1 mr-2">
        <% @person.roles.each do |role| %>
          <%= role_badge(role) %>
        <% end %>
      </div>
      <% if !@person.callee.present? %>
        <div class="mr-2">
          <%= signup_action(person: @person) %>
        </div>
      <% end %>
      <% if @person.flag_in_progress %>
        <%= link_to flag_a_edit_person_path do %>
          <%= icon('star-fill', class: "h-4 w-4 text-yellow-400") %>
        <% end %>
      <% end %>
    </h1>
    <div class="flex flex-wrap">
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("telephone-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
        <% if @person.phone.present? %>
          <%= @person.phone %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("email-fill", class: "flex-shrink-0 mr-2 h-5 w-5 text-gray-400") %>
        <% if @person.email.present? %>
          <%= mail_to @person.email %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("house-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
        <% if address_to_string(@person).present? %>
          <%= address_to_string(@person) %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
    </div>
    <% if @person.opas_id.present? %>
      <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0">
        <div class="mr-6 mt-2 flex items-center text-sm text-gray-500">
          <dt class="text-sm font-medium text-gray-500">
            OPAS ID:
          </dt>
          <dd class="ml-1.5 text-sm text-gray-900">
            <%= @person.opas_id %>
          </dd>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-4 sm:my-0">
    <%= button_link_to "Edit", personal_details_a_edit_person_path(@person), icon: "heroicon-edit" %>
  </div>
</div>
<% if @person&.callee.present? %>
  <dl class="mt-6 mb-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
    <div class="sm:col-span-1">
      <dt class="text-sm font-medium text-gray-500">
        Matched with
      </dt>
      <% if @person&.callee&.matches.present? %>
        <% @person&.callee&.matches.each do |match| %>
          <dd class="mt-1 text-sm text-gray-900">
            <%= link_to match.caller.name, a_match_path(match) %>,
            <span class="italic"><%= match.humanized_status %></span>
          </dd>
        <% end %>
      <% else %>
        <div class="mt-1 text-sm text-gray-900 italic">None</div>
      <% end %>
    </div>
    <div class="sm:col-span-1">
      <dt class="text-sm font-medium text-gray-500">
        Pod
      </dt>
      <dd class="mt-1 text-sm text-gray-900">
        <% if @person&.callee&.pod %>
          <%= link_to @person.callee.pod.name, a_pod_path(@person.callee.pod) %>
          <% if @person&.callee&.pod&.pod_leader %>
            (<%= link_to @person.callee.pod.pod_leader.name, a_person_path(@person.callee.pod.pod_leader.person) %>)
          <% else %>
            <div class="italic">(No Pod Leader)</div>
          <% end %>
        <% else %>
          <div class="italic">None</div>
        <% end %>
      </dd>
    </div>
  </dl>
<% end %>
<% if @person&.caller.present? %>
  <dl class="mt-6 mb-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
    <div class="sm:col-span-1">
      <dt class="text-sm font-medium text-gray-500">
        Matched with
      </dt>
      <% if @person&.caller&.matches.present? %>
        <% @person&.caller&.matches.each do |match| %>
          <dd class="mt-1 text-sm text-gray-900">
            <%= link_to match.callee.name, a_match_path(match) %>,
            <span class="italic"><%= match.humanized_status %></span>
          </dd>
        <% end %>
      <% else %>
        <div class="mt-1 text-sm text-gray-900 italic">None</div>
      <% end %>
    </div>
    <div class="sm:col-span-1">
      <dt class="text-sm font-medium text-gray-500">
        Pod
      </dt>
      <dd class="mt-1 text-sm text-gray-900">
        <% if @person&.caller&.pod %>
          <%= link_to @person.caller.pod.name, a_pod_path(@person.caller.pod) %>
          <% if @person&.caller&.pod&.pod_leader %>
            (<%= link_to @person.caller.pod.pod_leader.name, a_person_path(@person.caller.pod.pod_leader.person) %>)
          <% else %>
            <div class="italic">(No Pod Leader)</div>
          <% end %>
        <% else %>
          <div class="italic">None</div>
        <% end %>
      </dd>
    </div>
  </dl>
<% end %>
<% if @person&.pod_leader.present? %>
  <dl class="mt-6 mb-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
    <div class="sm:col-span-1">
      <dt class="text-sm font-medium text-gray-500">
        Leads
      </dt>
      <% if @person&.pod_leader&.pods.present? %>
        <% @person&.pod_leader&.pods.each do |pod| %>
          <dd class="mt-1 text-sm text-gray-900">
            <%= link_to pod.name, a_pod_path(pod) %>
          </dd>
        <% end %>
      <% else %>
        <div class="mt-1 text-sm text-gray-900 italic">Not assigned to a pod</div>
      <% end %>
    </div>
    <% if @person&.pod_leader&.pod_supporters.present? %>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Supports
        </dt>
        <% @person&.pod_leader&.pod_supporters.each do |pod_supporter| %>
          <dd class="mt-1 text-sm text-gray-900">
            <%= link_to pod_supporter.pod.name, a_pod_path(pod_supporter.pod) %>
          </dd>
        <% end %>
      </div>
    <% end %>
  </dl>
<% end %>
<%= nav_tabs do |nav| %>
  <% nav.link "Events", events_a_person_path(@person) %>
  <% nav.link "Details", edit_a_person_path(@person), partial_match: true %>
  <% if @note.present? && !@note.new_record? %>
    <% nav.link "Edit note", edit_a_note_path(@note) %>
  <% else %>
    <% nav.link "New note", new_a_note_path(@person) %>
  <% end %>
  <% if !@person.callee.present? %>
    <% nav.link "More actions", actions_a_person_path(@person) %>
  <% end %>
<% end %>
