<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", a_search_path %>
    <% list.link @person.name, a_person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "show_page_head" %>
<% end %>
<% if !@person.callee.present? %>
  <div class="">
    <h1 class="mt-3 text-lg text-gray-800">Manage roles</h1>
    <div class="flex flex-wrap space-x-4 my-2">
      <% if !@person.pod_leader.present? %>
        <div class="new-pod-leader-role">
          <%= tailwind_form_with(model: [:a, @person],
                        url: "/a/people/#{@person.id}/create_role",
                        method: :post,
                        local: true) do |form| %>
            <%= form.hidden_field :role, value: "pod_leader" %>
            <%= form.submit "Add pod leader role" %>
          <% end %>
        </div>
      <% end %>
      <% if !@person.caller.present? %>
        <div class="new-caller-role">
          <%= tailwind_form_with(model: [:a, @person],
                        url: "/a/people/#{@person.id}/create_role",
                        method: :post,
                        local: true) do |form| %>
            <%= form.hidden_field :role, value: "caller" %>
            <%= form.submit "Add caller role" %>
          <% end %>
        </div>
      <% end %>
      <% if !@person.admin.present? %>
        <div class="new-admin-role">
          <%= tailwind_form_with(model: [:a, @person],
                        url: "/a/people/#{@person.id}/create_role",
                        method: :post,
                        local: true) do |form| %>
            <%= form.hidden_field :role, value: "admin" %>
            <%= form.submit "Add admin role" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
