<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", a_search_path %>
    <% list.link @person.name, a_person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(PersonHeadComponent.new(person: @person)) %>
<% end %>
<div class="overflow-hidden shadow rounded-lg">
  <div class="bg-gray-50 px-2 py-1 sm:px-4 sm:py-2">
    <% if @person&.callee %>
      <dl class="m-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Matched with
          </dt>
          <% if @person&.callee&.matches.present? %>
            <% @person&.callee&.matches.each do |match| %>
              <dd class="mt-1 text-sm text-gray-900">
                <% if match.pending %>
                  <%= link_to match.caller.name, a_match_path(match) %>, <span class="italic">pending</span> (<%= format_date_range(match) %>)
                <% elsif match.active? %>
                  <%= link_to match.caller.name, a_match_path(match) %> (<%= format_date_range(match) %>)
                <% else %>
                  <%= link_to match.caller.name, a_match_path(match) %>, <span class="italic">ended</span> (<%= format_date_range(match) %>)
                <% end %>
              </dd>
            <% end %>
          <% else %>
            <div class="mt-1 text-sm text-gray-900 italic">None</div>
          <% end %>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Pod
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <% if @person&.callee&.pod %>
              <%= link_to @person.callee.pod.name, a_pod_path(@person.callee.pod) %>
              <% if @person&.callee&.pod&.pod_leader %>
                (<%= link_to @person.callee.pod.pod_leader.name, a_person_path(@person.callee.pod.pod_leader.person) %>)
              <% else %>
                <div class="italic">(No Pod Leader)</div>
              <% end %>
            <% else %>
              <div class="italic">None</div>
            <% end %>
          </dd>
        </div>
      </dl>
      <hr class="border-t border-gray-200 my-5" aria-hidden="true">
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Reason for referral</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= @person.callee.reason_for_referral %></p>
        </dd>
      </dl>
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Living arrangements</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= @person.callee.living_arrangements %></p>
        </dd>
      </dl>
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Other information</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= @person.callee.other_information %></p>
        </dd>
      </dl>
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Additional needs</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= @person.callee.additional_needs %></p>
        </dd>
      </dl>
    <% end %>
    <% if @person&.caller %>
      <div class="my-4 text-gray-600">
        <div class="mt-2 max-w-5xl mx-auto px-2 sm:px-2 lg:px-3">
          <dl class="m-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Matched with
              </dt>
              <% if @person&.caller&.matches.present? %>
                <% @person&.caller&.matches.each do |match| %>
                  <dd class="mt-1 text-sm text-gray-900">
                    <% if match.pending %>
                      <%= link_to match.callee.name, a_match_path(match) %>, <span class="italic">pending</span> (<%= format_date_range(match) %>)
                    <% elsif match.active? %>
                      <%= link_to match.callee.name, a_match_path(match) %> (<%= format_date_range(match) %>)
                    <% else %>
                      <%= link_to match.callee.name, a_match_path(match) %>, <span class="italic">ended</span> (<%= format_date_range(match) %>)
                    <% end %>
                  </dd>
                <% end %>
              <% else %>
                <div class="mt-1 text-sm text-gray-900 italic">None</div>
              <% end %>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Pod
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                <% if @person&.caller&.pod %>
                  <%= link_to @person.caller.pod.name, a_pod_path(@person.caller.pod) %>
                  <% if @person&.caller&.pod&.pod_leader %>
                    (<%= link_to @person.caller.pod.pod_leader.name, a_person_path(@person.caller.pod.pod_leader.person) %>)
                  <% else %>
                    <div class="italic">(No Pod Leader)</div>
                  <% end %>
                <% else %>
                  <div class="italic">None</div>
                <% end %>
              </dd>
            </div>
          </dl>
          <hr class="border-t border-gray-200 my-5" aria-hidden="true">
          <dl class="mx-3 my-4">
            <dt class="text-sm font-medium text-gray-500">Experience</dt>
            <dd class="mt-1 max-w-prose text-sm text-gray-900">
              <p><%= @person.caller.experience %></p>
            </dd>
          </dl>
        </div>
      </div>
    <% end %>
    <% if false %>
      <% if @person&.pod_leader %>
        <div class="my-4 text-gray-600">
          <div class="mt-2 max-w-5xl mx-auto px-2 sm:px-2 lg:px-3">
            <dl class="m-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Leads
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  Pod A
                </dd>
              </div>
            </dl>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
