<!DOCTYPE html>
<html>
  <head>
    <title>Phone Links</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="h-screen">
    <div class="min-h-full flex flex-col bg-gray-100">
      <% if demo? %>
        <%= alert(title: 'Demo', info: 'This is a demo site.') %>
      <% end %>
      <main class="flex-1">
        <%= notice_component(notice: notice) %>
        <% if content_for?(:full_page) %>
          <%= yield(:full_page) %>
        <% else %>
          <div class="bg-white">
            <div class="pt-6 max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
              <% if content_for?(:breadcrumbs)%>
                <div class="pb-4">
                  <%= yield(:breadcrumbs) %>
                </div>
              <% end %>
              <% if content_for?(:page_head) %>
                <%= yield(:page_head) %>
              <% end %>
            </div>
          </div>
          <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
            <div class="py-6">
              <%= yield %>
            </div>
          </div>
        <% end %>
      </main>
      <%= render partial: "c/layouts/footer" %>
    </div>
  </body>
</html>
