<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Admin", a_admin_admins_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render AdminHeadComponent.new %>
<% end %>
<div class="flex justify-end pb-3">
  <%= button_link_to "New Admin", "#{new_a_person_path}?role=admin" %>
</div>
<% if @admins.length > 0 %>
  <%= table @admins.sort_by(&:name) do |tbl| %>
    <% tbl.col "Name" do |admin| %>
      <%= link_to admin.name, a_person_path(admin.person) %> 
      <span><%= role_status(admin) %></span>
    <% end %>
    <% tbl.col "" do |admin| %>
      <%= signup_action(person: admin.person) %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No admin have been added yet :(
  </div>
<% end %>
