<%= tailwind_form_with(model: [:pl, @note], local: true) do |form| %>
  <%= form.section do %>
    <%= form.hidden_field :person_id, value: @person.id %>
    <%= form.hidden_field :created_by_id, value: @note&.created_by&.id %>
    <%= form.select :note_type, Note.note_type_options_for_select, label: "What is this note about? (optional)", width: :third %>
    <%= form.text_area :content, required_asterix: true, info_message: "Notes are visible to you and all admins" %>
  <% end %>
  <%= form.button_section do %>
    <% if action == :edit %>
      <div class="flex-1">
        <%= form.delete pl_note_path(@note) %>
      </div>
    <% end %>
    <%= form.cancel pl_person_path(@person) %>
    <%= form.submit %>
  <% end %>
<% end %>
