<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", "/search" %>
    <% list.link @person.name, person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(PersonHeadComponent.new(person: @person)) %>
<% end %>
<div class="overflow-hidden shadow rounded-lg">
  <div class="bg-gray-50 px-2 py-1 sm:px-4 sm:py-2">
    <% if @person&.callee %>
      <dl class="m-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Called by
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Joan (since April 2020)
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Pod
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            N (Older people)
          </dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500">
            Pod leader
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            Alice
          </dd>
        </div>
      </dl>
      <% if false %>
        <dl class="my-4">
          <% if !@person&.callee.active %>
            <div class="italic">No longer active in program</div>
          <% elsif @person&.callee&.active_matches.present? %>
            <div class="my-4 text-gray-600">
              Called by
              <% @person.callee.active_matches.each_with_index do |match, index| %>
                <span>
                  <%= link_to match.caller.name, url_for(match.caller.person), class: "text-gray-900 hover:text-blue-800 hover:underline" %> since <%= match.start_date %>
                  <% if @person.callee.active_matches.size - 1 != index %>, <% end %>
                </span>
              <% end %>
            </div>
          <% else %>
            <div class="italic">Waiting to be assigned a caller</div>
          <% end %>
        </dl>
      <% end %>
      <hr class="border-t border-gray-200 my-5" aria-hidden="true">
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Reason for referral</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= role.reason_for_referral %></p>
        </dd>
      </dl>
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Living arrangements</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= role.living_arrangements %></p>
        </dd>
      </dl>
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Other information</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= role.other_information %></p>
        </dd>
      </dl>
      <dl class="my-4 mx-3">
        <dt class="text-sm font-medium text-gray-500">Additional needs</dt>
        <dd class="mt-1 max-w-prose text-sm text-gray-900">
          <p><%= role.additional_needs %></p>
        </dd>
      </dl>
    <% end %>
    <% if @person&.caller %>
      <div class="my-4 text-gray-600">
        <div class="mt-2 max-w-5xl mx-auto px-2 sm:px-2 lg:px-3">
          <dl class="m-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3">
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Matched with
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                Joan (since April 2020)
              </dd>
              <dd class="mt-1 text-sm text-gray-900">
                Jake (since Dec 2020)
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Pod
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                N (Older people)
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Pod leader
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                Alice
              </dd>
            </div>
          </dl>
          <hr class="border-t border-gray-200 my-5" aria-hidden="true">
          <dl class="mx-3 my-4">
            <dt class="text-sm font-medium text-gray-500">Experience</dt>
            <dd class="mt-1 max-w-prose text-sm text-gray-900">
              <p><%= @person.caller.experience %></p>
            </dd>
          </dl>
        </div>
      </div>
    <% end %>
    <% if false %>
      <% if @person&.pod_leader %>
        <div class="my-4 text-gray-600">
          <div class="mt-2 max-w-5xl mx-auto px-2 sm:px-2 lg:px-3">
            <dl class="m-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Leads
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  Pod A
                </dd>
              </div>
            </dl>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
