<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", "/search" %>
    <% list.link @person.name, person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(PersonHeadComponent.new(person: @person)) %>
<% end %>
<div class="flex items-center text-blue-600">
  <%= icon("info-circle", class: "mr-2 h-5 w-5 text-blue-500") %>
  <div class="">Use this form to add another role to <%= @person.first_name %>'s profile</div>
</div>
<ul class="my-8 flex space-x-3">
  <% @role_options.each do |role| %>
    <li class="group relative bg-white rounded-lg shadow-sm cursor-pointer focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-indigo-500">
      <%= link_to new_role_person_path(@person) + "?role=#{role[:value]}" do %>
        <div class="rounded-lg border border-gray-300 bg-white px-6 py-2 hover:border-gray-400 flex justify-center text-center">
          <div class="flex justify-center">
            <div class="text-sm">
              <p class="font-medium text-gray-900">
                <%= role[:label] %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
<%= tailwind_form_with(model: @role, url: create_role_person_path(@person), local: true) do |form| %>
  <%= form.section do %>
  <% end %>
  <%= form.button_section do %>
    <%= form.cancel events_person_path(@person) %>
    <%= form.submit %>
  <% end %>
<% end %>
