<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Callers", pl_callers_path(@current_pod_leader) %>
    <% list.link @person.name, pl_caller_path(@current_pod_leader, @caller) %>
  <% end %>
<% end %>
<div class="sm:flex sm:justify-between">
  <div>
    <h1 class="text-2xl font-semibold text-gray-900">
      <%= @person&.title.present? ? "#{@person.title.humanize} " : "" %><%= @person.name %>
      <% @person.roles.each do |role| %>
        <%= role_badge(role) %>
      <% end %>
      <% if @person.flag_in_progress %>
        <%= link_to flag_a_edit_person_path do %>
          <%= icon('bell-fill', class: "inline w-5 h-5 text-red-500") %>
        <% end %>
      <% end %>
    </h1>
    <div class="flex flex-wrap">
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("telephone-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
        <% if @person.phone.present? %>
          <%= @person.phone %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("email-fill", class: "flex-shrink-0 mr-2 h-5 w-5 text-gray-400") %>
        <% if @person.email.present? %>
          <%= mail_to @person.email %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<dl class="mt-6 mb-3 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
  <div class="sm:col-span-1">
    <dt class="text-sm font-medium text-gray-500">
      Matched with
    </dt>
    <% if @person&.caller&.matches.present? %>
      <% @person&.caller&.matches.each do |match| %>
        <dd class="mt-1 text-sm text-gray-900">
          <% if match.pending %>
            <%= link_to match.callee.name, pl_match_path(@current_pod_leader, match) %>, <span class="italic">pending</span> (<%= format_date_range(match) %>)
          <% elsif match.active? %>
            <%= link_to match.callee.name, pl_match_path(@current_pod_leader, match) %> (<%= format_date_range(match) %>)
          <% else %>
            <%= link_to match.callee.name, pl_match_path(@current_pod_leader, match) %>, <span class="italic">ended</span> (<%= format_date_range(match) %>)
          <% end %>
        </dd>
      <% end %>
    <% else %>
      <div class="mt-1 text-sm text-gray-900 italic">None</div>
    <% end %>
  </div>
</dl>
<%= nav_tabs do |nav| %>
  <% nav.link "Events", pl_caller_path(@current_pod_leader, @caller) %>
  <% if @note.present? && !@note.new_record? %>
    <% nav.link "Edit note", edit_pl_note_path(@current_pod_leader, @note) %>
  <% else %>
    <% nav.link "New note", notes_new_pl_caller_path(@current_pod_leader, @caller, {role: "caller"}) %>
  <% end %>
<% end %>
