<% content_for :breadcrumbs do %>
  <%= breadcrumbs home_path: pl_pod_path(@pod) do |list| %>
    <% list.link "Callers", pl_callers_path(@pod) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "index_page_head" %>
<% end %>
<% if @callers.length > 0 %>
  <div class="my-4">
    <%= info(title: "Interactions dashboard", info: "Any note added to the caller's timeline is counted as an interaction.") %>
  </div>
  <%= table @callers.sort_by(&:name), row_url: ->(c) { pl_person_path(c.person) } do |tbl| %>
    <% tbl.col "Name" do |caller| %>
      <%= caller.name %>
    <% end %>
    <% tbl.col "Interactions (last 6 months)", classes: "text-center" do |caller| %>
      <%= caller.person.notes.filter { |a| a.updated_at >= Date.today - 6.months }.count %>
    <% end %>
    <% tbl.col "Most recent interaction", classes: "text-center" do |caller| %>
      <% if caller.person.notes.present? %>
        <% last_interaction = caller.person.notes.sort_by(&:updated_at).last.updated_at %>
        <div class="<%= last_interaction <= Date.today - 3.months ? 'text-red-600' : 'text-gray-600' %>">
          <%= format_date(last_interaction) %>
          (<%= format_date_as_days_since(last_interaction) %>)
        </div>
      <% else %>
        <div class="italic">none</div>
      <% end %>
    <% end %>
    <% tbl.col "Member of WhatsApp", classes: "text-center" do |caller| %>
      <div class="flex justify-center">
        <% if caller.pod_whatsapp_membership.present? %>
          <%= icon("check", class: "w-4 h-4 text-green-600") %>
        <% else %>
          <%= icon("cross", class: "w-4 h-4 text-red-600") %>
        <% end %>
      </div>
    <% end %>
    <% tbl.col "Capacity", classes: "text-center" do |caller| %>
      <div class="flex justify-center">
        <% if caller.has_capacity.present? %>
          <%= icon("check", class: "w-4 h-4 text-green-600") %>
        <% else %>
          <%= icon("cross", class: "w-4 h-4 text-red-600") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No Callers have been added yet :(
  </div>
<% end %>
