<div class="sm:flex sm:justify-between">
  <div>
    <h1 class="text-2xl font-semibold text-gray-900">
      <%= @callee.name%>
    </h1>
    <div class="flex flex-wrap">
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("telephone-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
        <% if @callee.person.phone.present? %>
          <%= @callee.person.phone %>
        <% else %>
          <span class="italic">unavailable</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("email-fill", class: "flex-shrink-0 mr-2 h-5 w-5 text-gray-400") %>
        <% if @callee.person.email.present? %>
          <%= mail_to @callee.person.email %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <svg class="flex-shrink-0 mr-2 h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
        <% if @callee.person.address_line_1.present? %>
          <div> <%= "#{@callee.person.address_line_1} #{@callee.person.address_line_2}, #{@callee.person.address_town}, #{@callee.person.address_postcode}" %> </div>
        <% else %>
          <span class="italic">not given</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
