<% case @event %>
<% when Events::NoteChanged %>
<%= render TimelineItemComponent.new(icon: "heroicon-document-text-small", icon_colour: 'bg-blue-300', time: @event.occurred_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <% if @event.status == 'DELETED' %>
      <span class="text-gray-500 italic">Note deleted</span>
    <% else %>
      <%= link_to edit_a_note_path(@event.note) do %>
        <span class="my-1">
          <% time = @event.occurred_at%>
          <span><%= @event.created_by&.name || "?" %></span> <span class="text-xs text-gray-500 italic"><%= "at #{time.strftime("%l.%M%P")}" if time.hour != 0 %> on <%= time.strftime("%a #{time.day.ordinalize} %b") %></span>
          <% if @event.status == "EDITED" %><span class="text-gray-500 italic">(edited)</span><% end %>
        </span>
      <% end %>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
    <% if @event.status != 'DELETED' %>
      <%= @event.content %>
    <% end %>
  <% end %>
<% end %>
<% when Events::FlagChanged %>
<%= render TimelineItemComponent.new(icon: "flag-fill", icon_colour: 'bg-red-400', time: @event.occurred_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <%= link_to flag_a_edit_person_path(@event.person) do %>
      <span class="my-1">
        <% time = @event.occurred_at%>
        <span><%= @event.flag_in_progress ? "Flag raised by" : "Flag lowered by" %> <%= @event.created_by&.name || "?" %></span> <span class="text-xs text-gray-500 italic"><%= "at #{time.strftime("%l.%M%P")}" if time.hour != 0 %> on <%= time.strftime("%a #{time.day.ordinalize} %b") %></span>
      </span>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.notes %>
  <% end %>
<% end %>
<% when Events::MatchCreated %>
<%= render TimelineItemComponent.new(icon: "link-45deg", icon_colour: 'bg-gray-400', time: @event.occurred_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <%= link_to a_match_path(@event.match) do %>
      <span class="my-1">
        <% time = @event.occurred_at %>
        <span class="text-xs text-gray-500 italic">Match created between <%= @event.person&.name %> and <%= @event.caller_name %></span>
      </span>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
  <% end %>
<% end %>
<% when Events::MatchEnded %>
<%= render TimelineItemComponent.new(icon: "link-45deg", icon_colour: 'bg-gray-400', time: @event.occurred_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <%= link_to a_match_path(@event.match) do %>
      <span class="my-1">
        <% time = @event.occurred_at %>
        <span class="text-xs text-gray-500 italic">Match ended between <%= @event.person&.name %> and <%= @event.caller_name %></span>
      </span>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
  <% end %>
<% end %>
<% end %>
