<% case @event %>
<% when Events::NoteChanged %>
<%= render TimelineItemComponent.new(icon: "heroicon-document-text-small", icon_colour: 'bg-blue-300', time: @event.occurred_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <% if @event.status == 'deleted' %>
      <span class="text-gray-500 italic">Note deleted</span>
    <% else %>
      <%= link_to edit_a_note_path(@event.note) do %>
        <span class="my-1">
          <% time = @event.occurred_at%>
          <span><%= @event.created_by&.name || "?" %></span> <span class="text-xs text-gray-500 italic"><%= "at #{time.strftime("%l.%M%P")}" if time.hour != 0 %> on <%= time.strftime("%a #{time.day.ordinalize} %b") %></span>
          <% if @event.status == "edited" %><span class="text-gray-500 italic">(edited)</span><% end %>
        </span>
      <% end %>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
    <% if @event.status != 'deleted' %>
      <%= @event.content %>
    <% end %>
  <% end %>
<% end %>
<% when MatchStatusChange %>
<%= render TimelineItemComponent.new(icon: "link-45deg", icon_colour: 'bg-blue-400', time: @event.created_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <% if @event.status == :provisional %>
      <span class="font-semibold">Provisional</span> match created for <span class="font-semibold"><%= @event.match.caller.name %> and <%= @event.match.callee.name %></span>
      <% if @event.created_by %><div class="text-sm text-gray-400 italic">Created by <%= @event.created_by&.name %></div><% end %>
    <% else %>
      Match between <span class="font-semibold"><%= @event.match.caller.name %> and <%= @event.match.callee.name %></span>
      changed; status updated to <span class="font-semibold"><%= @event.humanized_status %></span>
      <% if @event.created_by %><div class="text-sm text-gray-400 italic">Change made by <%= @event.created_by&.name %></div><% end %>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.notes %>
  <% end %>
<% end %>
<% when Report %>
<% if @event.legacy? %>
  <%= render TimelineItemComponent.new(
      icon: @event.legacy_duration == "did not answer" ? "phone-missed-call" : 'phone-outgoing',
      icon_colour: @event.legacy_duration == "did not answer" ? 'bg-red-300' : 'bg-green-300',
      time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.with(:title) do %>
      <div class="flex items-center">
        <%= @event.match.caller.name %> called <%= @event.match.callee.name %> on <% if @event.legacy_time_and_date.present? %><%= @event.legacy_time_and_date %><% elsif @event.legacy_date.present? %><% @event.legacy_date %><% else %>?<% end %>
        <% if @event.legacy_duration %>
          <% if @event.legacy_duration == "did not answer" %>
            <div class="ml-2 text-sm text-red-400 italic">no answer</div>
          <% else %>
            <div class="ml-2 text-sm text-gray-400 italic">call length: <%= @event.duration %></div>
          <% end %>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div class="flex items-center">
          <%= icon('exclamation', class: "mr-1 w-6 h-6 text-yellow-400") %>
          <span class="text-sm text-yellow-700">
            <span class="font-semibold">Caller would like a call from pod leader</span><% if @event.concerns_notes %>: <%= @event.concerns_notes %><% end %>
          </span>
        </div>
      <% end %>
    <% end %>
    <% c.with(:body) do %>
      <%= @event.summary %>
    <% end %>
  <% end %>
<% else %>
  <%= render TimelineItemComponent.new(
          icon: @event.duration == "did not answer" ? "phone-missed-call" : 'phone-outgoing',
          icon_colour: @event.duration == "did not answer" ? 'bg-red-300' : 'bg-green-300',
          time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.with(:title) do %>
      <div class="flex items-center">
        <%= @event.match.caller.name %> called <%= @event.match.callee.name %> on <%= format_date(@event.datetime) %>
        <% if @event.duration == "did not answer" %>
          <div class="ml-2 text-sm text-red-400 italic">no answer</div>
        <% else %>
          <div class="ml-2 text-sm text-gray-400 italic">call length: <%= @event.duration %></div>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div class="flex items-center">
          <%= icon('exclamation', class: "mr-1 w-6 h-6 text-yellow-400") %>
          <span class="text-sm text-yellow-700">
            <span class="font-semibold">Caller would like a call from pod leader</span><% if @event.concerns_notes %>: <%= @event.concerns_notes %><% end %>
          </span>
        </div>
      <% end %>
      <div class="flex items-center">
        <div class="text-sm text-gray-400">
          Callee mood:
          <% case @event.callee_state %><% when "Great!" %>😃<% when "Ok" %>😐<% when "Not great" %>🙁<% end %> ,
      </div>
      <div class="ml-3 flex items-center text-sm text-gray-400">caller confidence:
        <% caller_confidence = rand(5) + 1 %>
        <div class="flex items-center ml-1">
          <% (1..5).each do |i| %>
            <div class="ml-0.5 mt-0.5">
              <% if i <= caller_confidence %>
                <div class="rounded-full h-2 w-2 bg-yellow-300 border border-gray-300"></div>
              <% else %>
                <div class="rounded-full h-2 w-2 border border-gray-300"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.summary %>
  <% end %>
<% end %>
<% end %>
<% when RoleStatusChange %>
<%= render TimelineItemComponent.new(icon: "check-circle", icon_colour: 'bg-gray-400', time: @event.created_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <%= @event.role_description.to_s.humanize %> status updated to <span class="font-semibold"><%= @event.humanized_status %></span>
    <% if @event.created_by %><div class="text-sm text-gray-400 italic">Change made by <%= @event.created_by&.name %></div><% end %>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.notes %>
  <% end %>
<% end %>
<% when PersonFlagChange %>
<%= render TimelineItemComponent.new(icon: "flag-fill", icon_colour: @event.flag_in_progress ? 'bg-red-400' : 'bg-gray-400', time: @event.created_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <% if @event.flag_in_progress %>
      <span class="font-semibold">Flag raised</span>
    <% else %>
      <span class="font-semibold">Flag lowered</span>
    <% end %>
    <% if @event.created_by %><span class="text-sm text-gray-400 italic"> by <%= @event.created_by&.name %></span><% end %>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.notes %>
  <% end %>
<% end %>
<% end %>
