<% case @event %>
<% when Events::NoteChanged %>
<%= render TimelineItemComponent.new(icon: "heroicon-document-text-small", icon_colour: 'bg-blue-300', time: @event.occurred_at, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <% if @event.status == 'deleted' %>
      <span class="text-gray-500 italic">Note deleted</span>
    <% else %>
      <%= link_to edit_a_note_path(@event.note) do %>
        <span class="my-1">
          <% time = @event.occurred_at%>
          <span><%= @event.created_by&.name || "?" %></span> <span class="text-xs text-gray-500 italic"><%= "at #{time.strftime("%l.%M%P")}" if time.hour != 0 %> on <%= time.strftime("%a #{time.day.ordinalize} %b") %></span>
          <% if @event.status == "edited" %><span class="text-gray-500 italic">(edited)</span><% end %>
          <span><%= icon("heroicon-edit", class: "inline text-gray-500 hover:text-blue-500 w-4 h-4") %></span>
        </span>
      <% end %>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
    <% if @event.status != 'deleted' %>
      <%= @event.content %>
    <% end %>
  <% end %>
<% end %>
<% when MatchStatusChange %>
<%= render TimelineItemComponent.new(icon: "link-45deg", icon_colour: 'bg-blue-400', time: @event.datetime, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <% if @event.status == :provisional %>
      <span class="font-semibold">Provisional</span> match created for <span class="font-semibold"><%= @event.match.caller.name %> and <%= @event.match.callee.name %></span>
      <% if @event.created_by %>
        <div class="text-sm text-gray-400 italic">Created by <%= @event.created_by&.name %></div>
      <% end %>
    <% else %>
      Match between <span class="font-semibold"><%= @event.match.caller.name %> and <%= @event.match.callee.name %></span>
      changed; status updated to <span class="font-semibold"><%= @event.humanized_status %></span>
      <% if @event.created_by %>
        <div class="text-sm text-gray-400 italic">Change made by <%= @event.created_by&.name %></div>
      <% end %>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.notes %>
  <% end %>
<% end %>
<% when Report %>
<% if @event.legacy? %>
  <%= render TimelineItemComponent.new(
      icon: @event.legacy_duration == "did not answer" ? "phone-missed-call" : 'phone-outgoing',
      icon_colour: @event.legacy_duration == "did not answer" ? 'bg-red-300' : 'bg-green-300',
      time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.with(:title) do %>
      <div class="flex flex-wrap items-center">
        <div class="mr-2"><%= @event.match.caller.name %> called <%= @event.match.callee.name %> on <% if @event.legacy_time_and_date.present? %><%= @event.legacy_time_and_date %><% elsif @event.legacy_date.present? %><% @event.legacy_date %><% else %>?<% end %></div>
        <% if @event.legacy_duration %>
          <% if @event.legacy_duration == "did not answer" %>
            <div class="text-sm text-red-400 italic">no answer</div>
          <% else %>
            <div class="text-sm text-gray-400 italic">call length: <%= @event.legacy_duration %></div>
          <% end %>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div class="flex items-start">
          <div><%= icon('exclamation', class: "mr-1 w-6 h-6 text-yellow-400") %></div>
          <span class="text-sm text-yellow-700">
            <span class="font-semibold">Caller would like a call from their pod leader</span><% if @event.concerns_notes %> <%= @event.concerns_notes %><% end %>
          </span>
        </div>
      <% end %>
    <% end %>
    <% c.with(:body) do %>
      <%= simple_format(@event.summary) %>
    <% end %>
  <% end %>
<% else %>
  <%= render TimelineItemComponent.new(
          icon: @event.duration == :no_answer ? "phone-missed-call" : 'phone-outgoing',
          icon_colour: @event.duration == :no_answer ? 'bg-red-300' : 'bg-green-300',
          time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.with(:title) do %>
      <div class="flex flex-wrap items-center">
        <div class="mr-2"><%= @event.match.caller.name %> called <%= @event.match.callee.name %> on <%= format_date(@event.date_of_call) %></div>
        <% if @event.duration == :no_answer %>
          <div class="text-sm text-red-400 italic">no answer</div>
        <% else %>
          <div class="text-sm text-gray-400 italic">call length: <%= @event.humanized_duration %></div>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div class="flex items-start">
          <div><%= icon('exclamation', class: "mr-1 w-6 h-6 text-yellow-400") %></div>
          <span class="text-sm text-yellow-700">
            <span class="font-semibold">Caller would like a call from their pod leader</span><% if @event.concerns_notes %> <%= @event.concerns_notes %><% end %>
          </span>
        </div>
      <% end %>
      <div class="flex flex-wrap items-center">
        <% if @event.callee_feeling.present? %>
          <div class="flex items-center mr-3 text-sm text-gray-400">
            <div class="mr-1">Callee:</div>
            <%= callee_feeling(feeling: @event.callee_feeling) %>
          </div>
        <% end %>
        <% if @event.caller_feeling.present? %>
          <div class="flex items-center text-sm text-gray-400">
            <div class="mr-1">caller:</div>
            <%= caller_feeling(feeling: @event.caller_feeling) %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% c.with(:body) do %>
      <% if @event.duration != :no_answer %><%= simple_format(@event.summary) %><% else %><%= simple_format(@event.no_answer_notes) %><% end %>
    <% end %>
  <% end %>
<% end %>
<% when RoleStatusChange %>
<%= render TimelineItemComponent.new(icon: "check-circle", icon_colour: 'bg-gray-400', time: @event.datetime, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <%= @event.role_description.to_s.humanize %> status updated to <span class="font-semibold"><%= @event.humanized_status %></span>
    <% if @event.created_by %>
      <div class="text-sm text-gray-400 italic">Change made by <%= @event.created_by&.name %></div>
    <% end %>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.notes %>
  <% end %>
<% end %>
<% when PersonFlagChange %>
<%= render TimelineItemComponent.new(icon: "star-fill", icon_colour: @event.flag_in_progress ? 'bg-yellow-400' : 'bg-gray-400', time: @event.datetime, is_last: @last_event) do |c| %>
  <% c.with(:title) do %>
    <% if @event.flag_in_progress %>
      <span class="font-semibold">Starred</span>
    <% else %>
      <span class="font-semibold">Star removed</span>
    <% end %>
    <% if @event.created_by %><span class="text-sm text-gray-400 italic"> by <%= @event.created_by&.name %></span><% end %>
  <% end %>
  <% c.with(:body) do %>
    <%= @event.notes %>
  <% end %>
<% end %>
<% end %>
