<!--
<h1 class="flex justify-start text-2xl font-semibold text-gray-900">
  <div class="flex items-center flex-col">
    <%= @match.caller.name %>
    <%= role_badge(@match.caller) %>
  </div>
  <div class="mx-3"> - </div>
  <div class="flex items-center flex-col">
    <%= @match.callee.name %>
    <%= role_badge(@match.callee) %>
  </div>
</h1>
-->
<h1 class="flex justify-start text-2xl font-semibold text-gray-900">
  <div><%= link_to @match.caller.name, a_person_path(@match.caller.person) %></div>
  <div class="mx-2"><%= role_badge(@match.caller) %></div>
  <div class="ml-1 mr-3"> - </div>
  <div><%= link_to @match.callee.name, a_person_path(@match.callee.person) %></div>
  <div class="mx-2"><%= role_badge(@match.callee) %></div>
</h1>
<div class="flex flex-wrap">
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <% if @match.active? %>
      <div class="text-gray-900 mr-2">
        <span class="text-gray-500">Matched:</span>
        <%= format_date_range(@match) %>
      </div>
    <% else %>
      <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 bg-gray-300">
        Ended: <%= format_date_range(@match) %>
      </span>
    <% end %>
  </div>
</div>
<div class="flex flex-wrap">
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <div class="text-gray-500 mr-2">Pod:</div>
    <% if @match&.pod %>
      <%= link_to @match.pod.name, a_pod_path(@match.pod) %>
    <% else %>
      <span class="italic">N/A</span>
    <% end %>
  </div>
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <div class="text-gray-500 mr-2">Pod leader:</div>
    <% if @match&.pod&.pod_leader %>
      <%= link_to @match.pod.pod_leader.name, a_person_path(@match.pod.pod_leader.person) %>
    <% else %>
      <span class="italic">N/A</span>
    <% end %>
  </div>
</div>
<% if @match.pod_mismatch.present? %>
  <div class="mt-5">
    <%= alert(title: 'Pod mismatch', info: @match.pod_mismatch) %>
  </div>
<% end %>
<%= nav_tabs do |nav| %>
  <% nav.link "Reports (#{ @match.reports.count })", a_match_path(@match) %>
  <% nav.link "Edit", edit_a_match_path(@match) %>
<% end %>
