<div class="sm:flex sm:justify-between">
  <h1 class="flex justify-start flex-wrap text-2xl font-semibold text-gray-900">
    <div><%= link_to @match.caller.name, a_person_path(@match.caller.person) %></div>
    <div class="mx-2">
      <%= role_badge(@match.caller) %>
    </div>
    <div class="ml-1 mr-3"> - </div>
    <div><%= link_to @match.callee.name, a_person_path(@match.callee.person) %></div>
    <div class="mx-2"><%= role_badge(@match.callee) %></div>
    <div class="mx-2">
      <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 border border-gray-400">
        Match status: <%= @match.humanized_status %>
      </span>
    </div>
  </h1>
  <div class="mt-4 sm:mt-0">
    <%= button_link_to "Edit", edit_a_match_path(@match), icon: 'heroicon-edit' %>
  </div>
</div>
<div class="flex flex-wrap">
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <div class="text-gray-500 mr-2">Pod:</div>
    <% if @match&.pod %>
      <%= link_to @match.pod.name, a_pod_path(@match.pod) %>
    <% else %>
      <span class="italic">N/A</span>
    <% end %>
  </div>
  <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
    <div class="text-gray-500 mr-2">Pod leader:</div>
    <% if @match&.pod&.pod_leader %>
      <%= link_to @match.pod.pod_leader.name, a_person_path(@match.pod.pod_leader.person) %>
    <% else %>
      <span class="italic">N/A</span>
    <% end %>
  </div>
</div>
<% if @match.provisional %>
  <div class="mt-5">
    <%= info(title: 'Provisional', info: "This match is provisional. Click on the details tab to change to active.") %>
  </div>
<% end %>
<% if @match.pod_mismatch.present? %>
  <div class="mt-5">
    <%= alert(title: 'Pod mismatch', info: @match.pod_mismatch) %>
  </div>
<% end %>
<%= nav_tabs do |nav| %>
  <% nav.link "Events", a_match_path(@match) %>
  <% nav.link "Details", edit_a_match_path(@match) %>
<% end %>
