<div class="sm:flex sm:justify-between">
  <div>
    <h1 class="text-2xl font-semibold text-gray-900">
      <%= Person.titles.present? ? "#{@person.title.humanize} " : "" %><%= @person.name %>
      <% @person.roles.each do |role| %>
        <%= role_badge(role) %>
      <% end %>
    </h1>
    <div class="flex flex-wrap">
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("telephone-fill", class: "flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400") %>
        <% if @person.phone %>
          <%= @person.phone %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
      <div class="mt-2 sm:mt-2 mr-6 flex items-center text-sm text-gray-900">
        <%= icon("email-fill", class: "flex-shrink-0 mr-2 h-5 w-5 text-gray-400") %>
        <% if @person.email %>
          <%= mail_to @person.email %>
        <% else %>
          <span class="italic">unknown</span>
        <% end %>
      </div>
    </div>
  </div>
  <% if false %>
    <div class="my-4 sm:my-0">
      <%= button_link_to "Send invite", "" %>
    </div>
  <% end %>
</div>
<% if false %>
  <% if @person&.callee&.active_matches.present? %>
    <div class="my-4 text-gray-600">
      Matched with
      <% @person.callee.active_matches.each_with_index do |match, index| %>
        <span>
          <%= link_to match.caller.name, url_for(match.caller.person), class: "text-gray-900 hover:text-blue-800 hover:underline" %> since <%= match.start_date %>
          <% if @person.callee.active_matches.size - 1 != index %>, <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
  <% if @person&.caller&.active_matches.present? %>
    <div class="my-4 text-gray-600">
      Matched with
      <% @person.caller.active_matches.each_with_index do |match, index| %>
        <span>
          <%= link_to match.callee.name, url_for(match.callee.person), class: "text-gray-900 hover:text-blue-800 hover:underline" %> since <%= match.start_date %>
          <% if @person.caller.active_matches.size - 1 != index %>, <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
  <% if @person&.pod_leader&.pods.present? %>
    <div class="my-4 text-gray-600">
      Pod leader of
      <% @person.pod_leader.pods.each_with_index do |pod, index| %>
        <span>
          <%= link_to pod.name, url_for(pod), class: "text-gray-900 hover:text-blue-800 hover:underline" %>
          <% if @person.pod_leader.pods.size - 1 != index %>, <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= nav_tabs do |nav| %>
  <% nav.link "Events", events_person_path(@person) %>
  <% if @person.caller.present? || @person.callee.present? %>
    <% nav.link "Details", details_person_path(@person) %>
  <% end %>
  <% nav.link "Edit", edit_person_path(@person) %>
  <% if !@person.callee.present? %>
    <% nav.link "More actions", actions_person_path(@person) %>
  <% end %>
<% end %>
