<% case role.role_description %>
<% when :caller %>
<span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 <%= !role.inactive ? 'bg-green-100' : 'bg-gray-200' %>">
  <%= role.role_description.to_s.humanize %> (<%= role.humanized_status.downcase %>)
</span>
<% when :callee %>
<span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 <%= !role.inactive ? 'bg-blue-100' : 'bg-gray-200' %>">
  <%= role.role_description.to_s.humanize %> (<%= role.humanized_status.downcase %>)
</span>
<% when :pod_leader %>
<span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 <%= !role.inactive ? 'bg-yellow-100' : 'bg-gray-200' %>">
  <%= role.role_description.to_s.humanize %> (<%= role.humanized_status.downcase %>)
</span>
<% when :admin %>
<span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium text-gray-800 <%= !role.inactive ? 'bg-purple-100' : 'bg-gray-200' %>">
  <%= role.role_description.to_s.humanize %> (<%= role.humanized_status.downcase %>)
</span>
<% end%>
