<!-- Off-canvas menu for mobile -->
<div data-sidebar-target="mobileSidebar" class="md:hidden">
  <div class="fixed inset-0 flex z-40">
    <!--
        Off-canvas menu overlay, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
    <div class="fixed inset-0">
      <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
    </div>
    <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
    <div class="relative flex-1 flex flex-col max-w-xs w-full bg-gray-800">
      <div class="absolute top-0 right-0 -mr-12 pt-2">
        <button data-action="click->sidebar#close" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
          <span class="sr-only">Close sidebar</span>
          <!-- Heroicon name: x -->
          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
        <div class="flex-shrink-0 flex items-center px-4">
          <img class="h-8 w-auto" src="/oxford_hub_logo.jpg" alt="Phone Links">
          <div class="ml-2 text-white">Phone Links</div>
        </div>
        <nav class="mt-5 px-2 space-y-1">
          <div class="px-2 space-y-1">
            <%= render(SidebarLinkComponent.new(name: "Search", url: "/", icon: "search")) %>
          </div>
          <div class="my-4" aria-hidden="true"></div>
          <div class="px-2 space-y-1">
            <%= render(SidebarLinkComponent.new(name: "Home", url: "/", icon: "heroicon-home")) %>
            <%= render(SidebarLinkComponent.new(name: "Pods", url: "/pods", icon: 'heroicon-home')) %>
            <%= render(SidebarLinkComponent.new(name: "Waiting list", url: "/waitlist", icon: 'heroicon-home')) %>
          </div>
          <hr class="border-t border-gray-700 my-5" aria-hidden="true">
          <div class="px-2 space-y-1">
            <%= render(SidebarLinkComponent.new(name: "Profile", url: "/waitlist", icon: 'person-badge')) %>
            <%= render(SidebarLinkComponent.new(name: "Support", url: "/waitlist", icon: 'question-mark-circle')) %>
          </div>
        </nav>
      </div>
      <div class="flex-shrink-0 flex bg-gray-700 p-4">
        <a href="#" class="flex-shrink-0 group block">
          <div class="flex items-center">
            <div class="ml-3">
              <p class="text-sm font-normal text-gray-200">
                Created by Oxford Code Lab
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="flex-shrink-0 w-14">
      <!-- Force sidebar to shrink to fit close icon -->
    </div>
  </div>
</div>
<!-- Static sidebar for desktop -->
<div class="hidden md:flex md:flex-shrink-0">
  <div class="flex flex-col w-64">
    <!-- SIDEBAR START -->
    <div class="flex flex-col h-0 flex-1 bg-gray-800">
      <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
        <div class="flex items-center flex-shrink-0 px-4">
          <img class="h-8 w-auto" src="/oxford_hub_logo.jpg" alt="Phone Links">
          <div class="ml-2 text-white">Phone Links</div>
        </div>
        <nav class="mt-7 flex-1 bg-gray-800">
          <div class="px-2 space-y-1">
            <%= render(SidebarLinkComponent.new(name: "Search", url: "/", icon: "search")) %>
          </div>
          <div class="my-4" aria-hidden="true"></div>
          <div class="px-2 space-y-1">
            <%= render(SidebarLinkComponent.new(name: "Home", url: "/", icon: "house-fill")) %>
            <%= render(SidebarLinkComponent.new(name: "Pods", url: "/pods", icon: 'phone')) %>
            <%= render(SidebarLinkComponent.new(name: "Waiting list", url: "/waitlist", icon: 'calendar')) %>
          </div>
          <hr class="border-t border-gray-700 my-5" aria-hidden="true">
          <div class="px-2 space-y-1">
            <%= render(SidebarLinkComponent.new(name: "Profile", url: "/waitlist", icon: 'person-badge')) %>
            <%= render(SidebarLinkComponent.new(name: "Support", url: "/waitlist", icon: 'question-mark-circle')) %>
          </div>
        </nav>
      </div>
      <div class="flex-shrink-0 flex bg-gray-700 p-4">
        <a href="#" class="flex-shrink-0 w-full group block">
          <div class="flex items-center">
            <div class="ml-3">
              <p class="text-sm font-normal text-gray-200">
                Created by Oxford Code Lab
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
