<li>
  <div class="relative pb-8">
    <% unless is_last_item? %><span class="absolute top-4 left-3 sm:left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span><% end %>
    <div class="relative flex space-x-3">
      <div>
        <span class="h-6 w-6 sm:h-8 sm:w-8 rounded-full <%= icon_colour %> flex items-center justify-center ring-8 ring-white">
          <%= icon(icon_name, class: "h-3 w-3 sm:h-5 sm:w-5 text-white") %>
        </span>
      </div>
      <div class="min-w-0 flex-1 sm:pt-1.5 flex flex-wrap sm:flex-nowrap justify-between sm:space-x-4">
        <div>
          <p class="text-sm text-gray-900">
            <%= title %>
          </p>
          <% if body %>
            <div class="mt-1 text-sm text-gray-500">
              <%= body%>
            </div>
          <% end %>
        </div>
        <div class="pt-1 sm:pt-0 sm:text-right text-xs sm:text-sm whitespace-nowrap text-gray-500 italic">
          <div class="sm:hidden">Submitted: <%= format_date(time) %></div>
          <div class="hidden sm:inline"><%= format_date(time) %></div>
        </div>
      </div>
    </div>
  </div>
</li>
