<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", a_search_path %>
    <% list.link @person.name, a_person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "a/people/show_page_head" %>
<% end %>
<div class="grid grid-cols-4">
  <div>
    <%= render partial: "a/people/edit/menu" %>
  </div>
  <div class="col-span-3 col-start-2">
    <%= tailwind_form_with(
        model: [:a, @caller],
        url: save_status_a_edit_caller_path(@caller),
        method: :post,
        local: true) do |form| %>
      <%= form.section do %>
        <%= form.select :status, Caller.status_options_for_select, include_blank: false, width: :half, info_message: "Changing the caller's status to left programme will end all their matches" %>
        <%= form.text_area :status_change_notes %>
      <% end %>
      <%= form.button_section do %>
        <%= form.cancel a_person_path(@person) %>
        <%= form.submit %>
      <% end %>
    <% end %>
  </div>
</div>
