<% content_for :full_page do %>
  <div class="bg-white shadow">
    <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
      <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
        <div class="flex-1 min-w-0">
          <!-- Profile -->
          <div class="flex items-center">
            <div>
              <div class="flex items-center">
                <%= icon("person-circle", class: "h-8 w-8 rounded-full sm:block text-gray-600") %>
                <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                  Hi <%= @current_user&.name || "Unknown User" %>
                </h1>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8">
    <!-- Quick links - TO DO: improve responsive behavior -->
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-gray-800 text-xs font-medium uppercase tracking-wide">Quick links</h2>
      <ul class="flex flex-wrap mt-1">
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Caller", "#{new_a_person_path}?role=caller&redirect_on_cancel=#{a_path}" %>
        </li>
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Callee", "#{new_a_person_path}?role=callee&redirect_on_cancel=#{a_path}" %>
        </li>
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Pod Leader", "#{new_a_person_path}?role=pod_leader&redirect_on_cancel=#{a_path}" %>
        </li>
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Admin", "#{new_a_person_path}?role=admin&redirect_on_cancel=#{a_path}" %>
        </li>
      </ul>
    </div>
    <!-- Overview  -->
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 mt-8 ">
      <h2 class="text-gray-800 text-xs font-medium uppercase tracking-wide">Overview</h2>
      <ul class="grid grid-cols-1 gap-4 sm:gap-6 sm:grid-cols-2 xl:grid-cols-4 mt-3">
        <!-- start -->
        <li class="relative col-span-1 flex shadow-sm rounded-md">
          <div class="flex-shrink-0 flex items-center justify-center w-12 bg-pink-600 text-white text-sm font-medium rounded-l-md"></div>
          <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
            <div class="flex-1 px-4 py-2 text-sm truncate">
              <a href="#" class="text-gray-500 font-medium hover:text-gray-600">
                Provisional matches:
                <div class="inline text-lg font-medium text-gray-900"><%= @provisional_matches_count || "?"  %></div>
              </a>
            </div>
          </div>
        </li>
        <li class="relative col-span-1 flex shadow-sm rounded-md">
          <div class="flex-shrink-0 flex items-center justify-center w-12 bg-green-600 text-white text-sm font-medium rounded-l-md"></div>
          <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
            <div class="flex-1 px-4 py-2 text-sm truncate">
              <a href="#" class="text-gray-500 font-medium hover:text-gray-600">
                Referrals:
                <div class="inline text-lg font-medium text-gray-900"><%= @referrals_count || "?" %></div>
              </a>
            </div>
          </div>
        </li>
        <li class="relative col-span-1 flex shadow-sm rounded-md">
          <div class="flex-shrink-0 flex items-center justify-center w-12 bg-blue-600 text-white text-sm font-medium rounded-l-md"></div>
          <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
            <div class="flex-1 px-4 py-2 text-sm truncate">
              <a href="#" class="text-gray-500 font-medium hover:text-gray-600">
                Waiting callees:
                <div class="inline text-lg font-medium text-gray-900"><%= @waiting_list_count || "?" %></div>
              </a>
            </div>
          </div>
        </li>
        <!-- end -->
      </ul>
    </div>
    <div class="hidden sm:block mt-8 mb-8">
      <h2 class="max-w-6xl mx-auto px-4 text-xs leading-6 font-medium uppercase tracking-wide text-gray-800 sm:px-6 lg:px-8">
        Inbox
      </h2>
      <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col mt-2">
          <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
            <%= table @flagged_people.sort_by(&:name), row_url: ->(e) { a_person_path(e) } do |tbl| %>
              <% tbl.col "Person" do |person| %>
                <div class="flex items-center">
                  <span class="text-gray-900 font-medium"><%= person.name %></span><span class="ml-2 mr-2"><%= person.flag_change_notes %></span><%= icon('star-fill', class: "h-4 w-4 text-yellow-400") %>
                </div>
              <% end %>
              <% tbl.col "Date" do |person| %>
                <%= format_date_as_relative(person.flag_change_datetime) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
