<% content_for :full_page do %>
  <div class="bg-white shadow">
    <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
      <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
        <div class="flex-1 min-w-0">
          <div class="flex items-center">
            <div>
              <div class="flex items-center">
                <%= icon("person-circle", class: "h-8 w-8 rounded-full sm:block text-gray-600") %>
                <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                  Hi <%= @current_user&.name || "Unknown User" %>
                </h1>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="text-gray-800 text-xs font-medium uppercase tracking-wide">Quick links</h2>
      <ul class="flex flex-wrap mt-1">
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Caller", "#{new_a_person_path}?role=caller" %>
        </li>
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Callee", "#{new_a_person_path}?role=callee" %>
        </li>
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Pod Leader", "#{new_a_person_path}?role=pod_leader}" %>
        </li>
        <li class="relative col-span-1 flex rounded-md mr-3 py-2">
          <%= button_link_to "New Admin", "#{new_a_person_path}?role=admin" %>
        </li>
      </ul>
    </div>
    <div class="mt-8 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 class="mb-3 text-gray-800 text-xs font-medium uppercase tracking-wide">Overview</h2>
      <dl class="sm:grid sm:grid-cols-3 sm:gap-x-3">
        <div class="bg-white rounded-lg shadow-lg flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
          <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
            Matches
          </dt>
          <dd class="order-1 text-5xl font-extrabold text-indigo-500">
            <%= @matches %>
          </dd>
        </div>
        <div class="bg-white rounded-lg shadow-lg flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
          <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
            Callers
          </dt>
          <dd class="order-1 text-5xl font-extrabold text-green-500">
            <%= @callers %>
          </dd>
        </div>
        <div class="bg-white rounded-lg shadow-lg flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
          <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
            Reports
          </dt>
          <dd class="order-1 text-5xl font-extrabold text-pink-500">
            <%= @reports %>
          </dd>
        </div>
      </dl>
    </div>
    <div class="mt-8 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <dl class="sm:grid sm:grid-cols-2 sm:gap-x-3">
        <div class="bg-white rounded-lg shadow-lg flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
          <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
            Provisional matches
          </dt>
          <dd class="order-1 text-5xl font-extrabold text-yellow-500">
            <%= @provisional_matches %>
          </dd>
        </div>
        <div class="bg-white rounded-lg shadow-lg flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
          <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
            Waiting list
          </dt>
          <dd class="order-1 text-5xl font-extrabold text-purple-500">
            <%= @waiting_callees %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="mt-8 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex-1 bg-white overflow-hidden shadow rounded-lg">
      <div class="p-3 sm:p-8">
        <div class="text-lg font-medium text-gray-500 truncate">
          Reports
          <span class="block sm:inline sm:ml-1 text-sm text-gray-400">Count by week for last 6 months</span>
        </div>
        <div class="mt-2">
          <div class="h-48" class="px-4 py-2" data-controller="bar-chart" data-bar-chart-data='<%= @reports_by_week.to_json.html_safe %>' data-bar-chart-title=""  data-bar-chart-squashable="true">
            <canvas data-bar-chart-target="chart" ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
