<% content_for :page_head do %>
  <%= render partial: "pl/people/show_page_head" %>
<% end %>
<div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl ">
  <%= tailwind_form_with(
        model: [:pl, @caller],
        url: update_status_pl_caller_path(@caller),
        method: :post,
        local: true) do |form| %>
    <%= form.section do %>
      <%= form.select :status, Caller.status_options_for_select, include_blank: false, width: :half, info_message: "Changing the caller's status to left programme will end all their matches" %>
      <%= form.text_area :status_change_notes %>
    <% end %>
    <%= form.button_section do %>
      <%= form.cancel pl_person_path(@person) %>
      <%= form.submit %>
    <% end %>
  <% end %>
</div>
