<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Callers", "/admin/callers" %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render AdminHeadComponent.new %>
<% end %>
<% if @callers.length > 0 %>
  <%= table @callers.sort_by(&:name), row_url: ->(p) { person_path(p.person) } do |tbl| %>
    <% tbl.col "Name" do |caller| %>
      <%= caller.name %>
    <% end %>
    <% tbl.col "Active", classes: "text-right" do |caller| %>
      <% if caller.active %>
        <%= icon("check-circle", class: "h-5 w-5 text-green-500") %>
      <% else %>
        <%= icon("cross", class: "h-5 w-5 text-red-500") %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No Callers have been added yet :(
  </div>
<% end %>
