<% if @event.legacy? %>
  <%= render TimelineItemComponent.new(
      icon: @event.legacy_duration == "did not answer" ? "phone-missed-call" : 'phone-outgoing',
      icon_colour: @event.legacy_duration == "did not answer" ? 'bg-red-300' : 'bg-green-300',
      time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.with(:title) do %>
      <div class="flex flex-wrap items-center">
        <div class="mr-2">Call made on <% if @event.legacy_time_and_date.present? %><%= @event.legacy_time_and_date %><% elsif @event.legacy_date.present? %><% @event.legacy_date %><% else %>?<% end %></div>
        <% if @event.legacy_duration %>
          <% if @event.legacy_duration == "did not answer" %>
            <div class="text-sm text-red-400 italic">no answer</div>
          <% else %>
            <div class="text-sm text-gray-400 italic">call length: <%= @event.legacy_duration %></div>
          <% end %>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div>
          <%= icon('exclamation', class: "inline w-5 h-5 text-yellow-400") %>
          <span class="inline text-sm text-yellow-700">
            <% if @event.concerns_notes %>
              <%= @event.concerns_notes %>
            <% else %>
              <span>Concern flagged</span>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
    <% c.with(:body) do %>
      <%= @event.summary %>
    <% end %>
  <% end %>
<% else %>
  <%= render TimelineItemComponent.new(
          icon: @event.duration == "did not answer" ? "phone-missed-call" : 'phone-outgoing',
          icon_colour: @event.duration == "did not answer" ? 'bg-red-300' : 'bg-green-300',
          time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.with(:title) do %>
      <div class="flex flex-wrap items-center">
        <div class="mr-2">Call made on <%= format_date(@event.date_of_call) %></div>
        <% if @event.duration == "did not answer" %>
          <div class="text-sm text-red-400 italic">no answer</div>
        <% else %>
          <div class="text-sm text-gray-400 italic">call length: <%= @event.humanized_duration %></div>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div>
          <%= icon('exclamation', class: "inline w-5 h-5 text-yellow-400") %>
          <span class="inline text-sm text-yellow-700">
            <% if @event.concerns_notes %>
              <%= @event.concerns_notes %>
            <% else %>
              <span>Concern flagged</span>
            <% end %>
          </span>
        </div>
      <% end %>
      <div class="flex flex-wrap items-center">
        <div class="mr-3 text-sm text-gray-400">
          Callee mood:
          <% case @event.callee_state %><% when :great %>😃<% when :ok %>😐<% when :not_great %>🙁<% end %> ,
        </div>
        <div class="flex items-center text-sm text-gray-400">caller confidence:
          <% caller_confidence = rand(5) + 1 %>
          <div class="flex items-center ml-1">
            <% (1..5).each do |i| %>
              <div class="ml-0.5 mt-0.5">
                <% if i <= caller_confidence %>
                  <div class="rounded-full h-2 w-2 bg-yellow-300 border border-gray-300"></div>
                <% else %>
                  <div class="rounded-full h-2 w-2 border border-gray-300"></div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% c.with(:body) do %>
      <%= @event.summary %>
    <% end %>
  <% end %>
<% end %>
