<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Waiting List", a_waitlist_path %>
    <% list.link "Callers", a_waitlist_callers_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(WaitlistHeadComponent.new(waiting_callers_count: @waiting_callers_count, waiting_callees_count: @waiting_callees_count, provisional_matches_count: @provisional_matches_count)) %>
<% end %>
<div class="flex justify-end pb-3">
  <%= button_link_to "New Caller", "#{new_a_person_path}?role=caller&redirect_on_cancel=#{a_waitlist_callers_path}" %>
</div>
<% if @waiting_callers.length > 0 %>
  <%= table @waiting_callers.sort_by(&:name), row_url: ->(c) { a_person_path(c.person) } do |tbl| %>
    <% tbl.col "Name" do |caller| %>
      <div class="flex">
        <div><%= caller.name %></div>
        <% if caller.provisional_matches.present? %>
          <div class="ml-2 text-blue-600">
            <%= caller.provisional_matches.count %> provisional match<%= caller.provisional_matches.count > 1 ? "es" : ''%>
          </div>
        <% end %>
        <% if caller.active_matches.present? %>
          <div class="ml-2 text-green-500">
            <%= caller.active_matches.count %> active match<%= caller.active_matches.count > 1 ? "es" : ''%>
          </div>
        <% end %>
        <% if caller.paused_matches.present? %>
          <div class="ml-2 text-green-500">
            <%= caller.paused_matches.count %> paused match<%= caller.paused_matches.count > 1 ? "es" : ''%>
          </div>
        <% end %>
        <% if caller.winding_down_matches.present? %>
          <div class="ml-2 text-green-500">
            <%= caller.winding_down_matches.count %> winding down match<%= caller.winding_down_matches.count > 1 ? "es" : ''%>
          </div>
        <% end %>
        <% if caller.ended_matches.present? %>
          <div class="ml-2 text-gray-400">
            <%= caller.ended_matches.count %> previous match<%= caller.ended_matches.count > 1 ? "es" : ''%>
          </div>
        <% end %>
        <% if caller.provisional_cancelled_matches.present? %>
          <div class="ml-2 text-gray-400">
            <%= caller.provisional_cancelled_matches.count %> cancelled match<%= caller.provisional_cancelled_matches.count > 1 ? "es" : ''%>
          </div>
        <% end %>
      </div>
    <% end %>
    <% tbl.col "Pod", classes: "text-right" do |caller| %>
      <% if caller&.pod %><%= caller.pod.name %><% else %>
        <div class="italic">Not assigned to a pod</div>
      <% end %>
    <% end %>
    <% tbl.col "Added", classes: "text-right" do |caller| %>
      <%= format_date_as_days_since(caller.status_change_datetime) %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No-one on the waiting list :)
  </div>
<% end %>
