<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Waiting List", a_waitlist_path %>
    <% list.link "Provisional Matches", a_waitlist_provisional_matches_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(WaitlistHeadComponent.new(waiting_callers_count: @waiting_callers_count, waiting_callees_count: @waiting_callees_count, provisional_matches_count: @provisional_matches_count)) %>
<% end %>
<div class="flex justify-end pb-3">
  <%= button_link_to "New provisional match", "#{new_a_match_path}?redirect_on_cancel=#{a_waitlist_provisional_matches_path}" %>
</div>
<% if @provisional_matches.length > 0 %>
  <%= table @provisional_matches.sort_by { |m| m.caller.name }, row_url: ->(m) { a_match_path(m) } do |tbl| %>
    <% tbl.col "Pod" do |match| %>
      <% if match&.pod %>
        <%= match&.pod.name %>
        <% if false %>
          <% if match&.pod.pod_leader %>
            (<%= match&.pod&.pod_leader&.name %>)
          <% end %>
        <% end %>
      <% else %>
        <div class="italic">Not assigned to a pod</div>
      <% end %>
    <% end %>
    <% tbl.col "Caller" do |match| %>
      <%= match.caller.name %>
    <% end %>
    <% tbl.col "Callee" do |match| %>
      <%= match.callee.name %>
    <% end %>
    <% if false %>
      <% tbl.col "Caller - Callee" do |match| %>
        <%= match.caller.name %> - <%= match.callee.name %>
      <% end %>
    <% end %>
    <% tbl.col "Added", classes: "text-right" do |match| %>
      <%= format_date_as_days_since(match.created_at) %>
    <% end %>
    <% tbl.col "", classes: "flex justify-end" do |match| %>
      <% if match.pod_mismatch.present? %>
        <%= icon('exclamation', class: "h-5 w-5 text-yellow-400") %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No provisional matches
  </div>
<% end %>
