<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Callers", a_admin_callers_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render AdminHeadComponent.new %>
<% end %>
<% if @callers.length > 0 %>
  <%= table @callers.sort_by(&:name), row_url: nil do |tbl| %>
    <% tbl.col "Name" do |caller| %>
      <%= link_to caller.name, a_person_path(caller.person) %>
    <% end %>
    <% tbl.col "Active" do |caller| %>
      <% if caller.active %>
        <%= icon("check-circle", class: "h-5 w-5 text-green-500") %>
      <% else %>
        <%= icon("cross", class: "h-5 w-5 text-red-500") %>
      <% end %>
    <% end %>
    <% tbl.col "Login as" do |caller| %>
      <%= link_to c_path(caller.id) do %>
        <%= icon("login", class: "w-5 h-5") %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No Callers have been added yet :(
  </div>
<% end %>
