<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Matches", pl_matches_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "index_page_head" %>
<% end %>
<% if @matches.length > 0 %>
  <%= table @matches.sort_by { |m| m.caller.name }, row_url: ->(m) { pl_match_path(@current_pod_leader, m) } do |tbl| %>
    <% tbl.col "Caller - Callee" do |match| %>
      <%= match.caller.name %> - <%= match.callee.name %>
      <% if match.provisional %>
        <span class="italic text-blue-500">(provisional)</div>
      <% elsif match.active? %>
        <span class="italic text-green-500">(active)</div>
      <% else %>
        <span class="italic">(ended)</div>
      <% end %>
    <% end %>
    <% tbl.col "Dates", classes: "text-right" do |match| %>
      <%= format_date_range(match) %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No Callees have been added yet :(
  </div>
<% end %>
