<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Pod leaders", a_admin_pod_leaders_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render AdminHeadComponent.new %>
<% end %>
<div class="flex justify-end pb-3">
  <%= button_link_to "New Pod Leader", "#{new_a_person_path}?role=pod_leader&redirect_on_cancel=#{a_admin_pod_leaders_path}" %>
</div>
<% if @pod_leaders.length > 0 %>
  <%= table @pod_leaders.sort_by(&:name), row_url: ->(p) { a_person_path(p.person) } do |tbl| %>
    <% tbl.col "Name" do |pod_leader| %>
      <%= pod_leader.name %>
    <% end %>
    <% tbl.col "Active", classes: "flex justify-end" do |pod_leader| %>
      <% if pod_leader.active %>
        <%= icon("check-circle", class: "h-5 w-5 text-green-500") %>
      <% else %>
        <%= icon("cross", class: "h-5 w-5 text-red-500") %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No Pod Leader have been added yet :(
  </div>
<% end %>
