<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Pod leaders", a_admin_pod_leaders_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render AdminHeadComponent.new %>
<% end %>
<div class="flex justify-end pb-3">
  <%= button_link_to "New Pod Leader", "#{new_a_person_path}?role=pod_leader" %>
</div>
<% if @pod_leaders.length > 0 %>
  <%= table @pod_leaders.sort_by(&:name), row_url: nil do |tbl| %>
    <% tbl.col "Name" do |pod_leader| %>
      <%= link_to pod_leader.name, a_person_path(pod_leader.person) %>
      <span><%= role_status(pod_leader) %></span>
    <% end %>
    <% tbl.col "" do |pod_leader| %>
      <%= signup_action(person: pod_leader.person) %>
    <% end %>
    <% tbl.col "Login as", classes: "text-right " do |pod_leader| %>
      <div class="flex justify-end">
        <%= link_to pl_pod_leader_path(pod_leader) do %>
          <%= icon("login", class: "w-5 h-5") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No Pod Leader have been added yet :(
  </div>
<% end %>
