<% content_for :navbar_content do %>
  <div class="px-2 space-y-1">
    <%= render(SidebarLinkComponent.new(name: "Search", url: a_search_path, icon: "search")) %>
  </div>
  <div class="my-4" aria-hidden="true"></div>
  <div class="px-2 space-y-1">
    <%= render(SidebarLinkComponent.new(name: "Home", url: a_path, icon: "heroicon-home-unfilled")) %>
    <%= render(SidebarLinkComponent.new(name: "Inbox", url: a_inbox_path, icon: "inbox")) %>
    <%= render(SidebarLinkComponent.new(name: "Pods", url: a_pods_path, icon: 'phone')) %>
    <%= render(SidebarLinkComponent.new(name: "Waiting list", url: a_waitlist_path, icon: 'watch')) %>
    <%= render(SidebarLinkComponent.new(name: "Referrals", url: a_referrals_path, icon: 'heroicon-document-text-small')) %>
    <%= render(SidebarLinkComponent.new(name: "Safeguarding", url: a_safeguarding_concerns_path, icon: 'cone-stripped')) %>
    <%= render(SidebarLinkComponent.new(name: "Admin", url: a_admin_path, icon: 'person-badge')) %>
    <%= render(SidebarLinkComponent.new(name: "Analytics", url: a_analytics_path, icon: 'bar-chart-line-fill')) %>
  </div>
  <% if @is_caller %>
    <hr class="border-t border-gray-700 my-5" aria-hidden="true">
    <div class="px-2 space-y-1">
      <%= render(SidebarLinkComponent.new(name: "Caller's Area", url: c_caller_path(@current_user.caller), icon: "login")) %>
    </div>
  <% end %>
  <% if @is_pod_leader %>
    <hr class="border-t border-gray-700 my-5" aria-hidden="true">
    <% @current_user.pod_leader.pods.each do |pod| %>
      <div class="px-2 space-y-1">
        <%= render(SidebarLinkComponent.new(name: "Pod #{pod.name}", url: pl_pod_path(pod), icon: 'circle')) %>
      </div>
    <% end %>
  <% end %>
  <hr class="border-t border-gray-700 my-5" aria-hidden="true">
  <div class="px-2 space-y-1">
    <%= render(SidebarLinkComponent.new(name: "Support", url: a_support_path, icon: 'question-mark-circle')) %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
