<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Inbox", a_inbox_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <h1 class="pb-8 text-2xl font-semibold text-gray-900">
    Inbox
  </h1>
<% end %>
<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col mt-2">
    <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
      <%= table @flagged.sort_by(&:name), row_url: ->(e) { a_person_path(e) } do |tbl| %>
        <% tbl.col "Person" do |person| %>
          <div class="flex items-center">
            <span class="text-gray-900 font-medium"><%= person.name %></span><span class="ml-2 mr-2"><%= person.flag_change_notes %></span><%= icon('star-fill', class: "h-4 w-4 text-yellow-400") %>
          </div>
        <% end %>
        <% tbl.col "Date" do |person| %>
          <%= format_date_as_relative(person.flag_change_datetime) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




