<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Waiting list", waitlist_path %>
    <% list.link "Callees", waitlist_callees_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(WaitlistHeadComponent.new(waiting_callers_count: @waiting_callers_count, waiting_callees_count: @waiting_callees_count, pending_matches_count: @pending_matches_count)) %>
<% end %>
<div class="flex justify-end pb-3">
  <%= button_link_to "New Callee", "#{new_person_path}?role=callee" %>
</div>
<% if @waiting_callees.length > 0 %>
  <%= table @waiting_callees.sort_by(&:name), row_url: ->(p) { url_for(p.person) } do |tbl| %>
    <% tbl.col "Name" do |person| %>
      <div class="flex">
        <div class="mr-2"><%= person.name %></div>
        <% if person.matches.present? %>
          <div class="text-blue-600">
            <% if person.matches.count == 1 %>
              <%= person.matches.count %> previous match
            <% else %>
              <%= person.matches.count %> previous pending_matches
            <% end %>
          </div>
        <% else %>
          <div class="text-red-500 font-medium uppercase tracking-wide">New</div>
        <% end %>
      </div>
    <% end %>
    <% tbl.col "On waiting list since", classes: "text-right" do |person| %>
      <%= format_date_as_relative(person.waiting_since) %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No-one on the waiting list :)
  </div>
<% end %>
