<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Waiting list", waitlist_path %>
    <% list.link "Provisional matches", waitlist_provisional_matches_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render(WaitlistHeadComponent.new(waiting_callers_count: @waiting_callers_count, waiting_callees_count: @waiting_callees_count, pending_matches_count: @pending_matches_count)) %>
<% end %>
<div class="flex justify-end pb-3">
  <%= button_link_to "New Match", new_match_path %>
</div>
<% if @pending_matches.length > 0 %>
  <%= table @pending_matches.sort_by { |m| m.caller.name }, row_url: ->(m) { url_for(m) } do |tbl| %>
    <% tbl.col "Caller - Callee" do |match| %>
      <%= match.caller.name %> - <%= match.callee.name %>
    <% end %>
    <% tbl.col "Pod" do |match| %>
      <% if match.pod %>
        <%= match.pod.name %>
        <% if match.pod.pod_leader %>
          (<%= match.pod&.pod_leader&.name %>)
        <% end %>
      <% else %>
        <div class="italic">Not assigned to a pod</div>
      <% end %>
    <% end %>
    <% tbl.col "Last updated", classes: "text-right" do |match| %>
      <%= format_date_as_relative(match.updated_at) %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No provisional matches
  </div>
<% end %>
