<% content_for :breadcrumbs do %>
  <%= breadcrumbs home_path: pl_path(@current_pod_leader) do |list| %>
    <% list.link "Reports", pl_reports_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <% render partial: "page_head" %>
<% end %>
<div class="mb-4">
  <%= link_to "Inbox", { params: { view: "inbox" } }, class: "#{current_page_starts_with?(pl_reports_path(view: 'inbox')) ? 'bg-yellow-200' : 'bg-white border-gray-300' } px-3 py-1.5 border rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-yellow-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-300" %>
  <%= link_to "All", { params: { view: "all" } }, class: "#{current_page_starts_with?(pl_reports_path(view: 'all')) ? 'bg-yellow-200' : 'bg-white border-gray-300' } px-3 py-1.5 border rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-yellow-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-300" %>
</div>
<% if @reports.length > 0 %>
  <%= table @reports, row_url: ->(r) { pl_report_path(@current_pod_leader, r, { view: params[:view] }) }, small: true do |tbl| %>
    <% tbl.col "Match", classes: "py-0" do |report| %>
      <div class="text-gray-800 <%= !report.archived_at.present? && params[:view] == 'all' && 'font-bold' %>">
        <% if report.match.present? %>
          <%= report.match.match_names %>
        <% else %>
          <%= report.legacy_caller_name %> & <%= report.legacy_callee_name %>
          <span class="inline-flex items-center px-1 py-0.5 rounded-md text-xs font-medium text-gray-700 bg-gray-200">
            unknown match
          </span>
        <% end %>
      </div>
      <div class="<%= !report.archived_at.present? && params[:view] == 'all' && 'font-medium text-gray-800' %> max-w-xs sm:max-w-md lg:max-w-3xl truncate">
        <%= report.summary %>
      </div>
    <% end %>
    <% tbl.col "Submitted", classes: "text-right py-0" do |report| %>
      <%= format_date(report.created_at) %>
    <% end %>
  <% end %>
  <div class="">
    <%= pagination(pagy: @pagy, things: "reports") %>
  </div>
<% else %>
  <div class="flex justify-center text-gray-600">
    Inbox is empty, you're up to date!
  </div>
<% end %>
