<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Reports", pl_reports_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <% render partial: "page_head" %>
<% end %>
<div class="shadow border-b border-gray-200 bg-gray-50 sm:rounded-lg py-4 px-6">
  <div class="flex items-center text-gray-500">
    <%= link_to pl_reports_path, class: "flex-1 " do %>
      <%= icon("arrow-left", class: "w-6 h-6") %>
    <% end %>
    <div class="mr-5">
      <% if @report.archived_at %>
        <%= tailwind_form_with(model: @report,
                              url: pl_report_path(@current_pod_leader, @report),
                              method: :post,
                              local: true) do |form| %>
          <%= form.hidden_field :archive, value: false %>
          <%= button_tag type: "submit" do %>
            <%= icon('bookmark-check-fill', class: "w-5 h-5 text-green-500") %>
          <% end %>
        <% end %>
      <% else %>
        <%= tailwind_form_with(model: @report,
                              url: pl_report_path(@current_pod_leader, @report),
                              method: :post,
                              local: true) do |form| %>
          <%= form.hidden_field :archive, value: true %>
          <%= button_tag type: "submit" do %>
            <%= icon('bookmark-check', class: "w-5 h-5 text-gray-500") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="text-sm text-medium mr-1 text-gray-700">
      <%= @current_report_number %> of <%= @total_reports %>
    </div>
    <%= link_to @prev_url, class: "mr-3 flex items-center justify-center w-8 h-8 rounded-full #{@current_report_number == 1 ? 'text-gray-300 cursor-default' : 'hover:bg-gray-200'}" do %>
      <%= icon("chevron-left", class: "w-5 h-5") %>
    <% end %>
    <%= link_to @next_url, class: "flex items-center justify-center w-8 h-8 rounded-full #{@current_report_number == @total_reports ? 'text-gray-300 cursor-default' : 'hover:bg-gray-200'}" do %>
      <%= icon("chevron-right", class: "w-5 h-5") %>
    <% end %>
  </div>
  <hr class="border-t border-gray-200 my-4" aria-hidden="true">
  <div class="flex justify-between py-2">
    <div class="text-md leading-2 tracking-wide	font-bold">
      <%= @report.match.caller.name %> & <%= @report.match.callee.name %>
    </div>
    <div class="text-sm text-gray-500">
      submitted: <%= format_date_as_relative(@report.created_at) %>
    </div>
  </div>
  <div class="text-sm text-gray-700">
    Report submitted by <%= @report.match.caller.person.first_name %> on <%= format_date(@report.created_at) %>
  </div>
  <div class="mt-6">
    <div class="my-3 text-sm text-gray-900"><span class="text-sm font-medium text-gray-500">Call date: </span><%= format_date(@report.datetime) %></div>
    <div class="my-3 text-sm text-gray-900"><span class="text-sm font-medium text-gray-500">Call length: </span><%= @report.duration %></div>
    <div class="my-3 text-sm text-gray-900"><span class="text-sm font-medium text-gray-500">Callee mood: </span>...</div>
    <div class="my-3 text-sm text-gray-900"><span class="text-sm font-medium text-gray-500">Summary: </span><%= @report.summary %></div>
  </div>
</div>
