<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>
      <ul>
        <% match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>
  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>
  <div class="field">
    <%= form.label :pod_id %>
    <%= form.text_field :pod_id %>
  </div>
  <div class="field">
    <%= form.label :caller_id %>
    <%= form.text_field :caller_id %>
  </div>
  <div class="field">
    <%= form.label :callee_id %>
    <%= form.text_field :callee_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
