<% content_for :navbar_content do %>
  <% if @is_admin  %>
    <div class="px-2 pb-4 space-y-1">
      <%= render(SidebarLinkComponent.new(name: "Back to Admin", url: a_path, icon: "library")) %>
    </div>
  <% end %>
  <div class="px-2 space-y-1">
    <%= render(SidebarLinkComponent.new(name: "Home", url: pl_path(@current_pod_leader.id), icon: "heroicon-home-unfilled")) %>
  </div>
  <div class="my-4" aria-hidden="true"></div>
  <div class="px-2 space-y-1">
    <%= render(SidebarLinkComponent.new(name: "Reports", url: pl_reports_path(@current_pod_leader.id), icon: "document-report")) %>
    <%= render(SidebarLinkComponent.new(name: "Callers", url: pl_callers_path(@current_pod_leader.id), icon: "phone-outgoing")) %>
    <%= render(SidebarLinkComponent.new(name: "Callees", url: pl_callees_path(@current_pod_leader.id), icon: "phone-incoming")) %>
    <%= render(SidebarLinkComponent.new(name: "Matches", url: pl_matches_path(@current_pod_leader.id), icon: "link-45deg")) %>
  </div>
  <hr class="border-t border-gray-700 my-5" aria-hidden="true">
  <div class="px-2 space-y-1">
    <%= render(SidebarLinkComponent.new(name: "Support", url: pl_support_path(@current_pod_leader.id), icon: 'question-mark-circle')) %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
