<% if @event.legacy? %>
  <%= render TimelineItemComponent.new(
      icon: @event.legacy_duration == "did not answer" ? "phone-missed-call" : 'phone-outgoing',
      icon_colour: @event.legacy_duration == "did not answer" ? 'bg-red-300' : 'bg-green-300',
      time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.with(:title) do %>
      <div class="flex flex-wrap items-center">
        <div class="mr-2">Call made on <% if @event.legacy_time_and_date.present? %><%= @event.legacy_time_and_date %><% elsif @event.legacy_date.present? %><% @event.legacy_date %><% else %>?<% end %></div>
        <% if @event.legacy_duration %>
          <% if @event.legacy_duration == "did not answer" %>
            <div class="text-sm text-red-400 italic">no answer</div>
          <% else %>
            <div class="text-sm text-gray-400 italic">call length: <%= @event.legacy_duration %></div>
          <% end %>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div class="flex items-start">
          <div><%= icon('exclamation', class: "mr-1 w-6 h-6 text-yellow-400") %></div>
          <span class="text-sm text-yellow-700">
            <span class="font-semibold">Requested a call from the pod leader</span>
            <% if @event.concerns_notes %> <%= @event.concerns_notes %><% end %>
          </span>
        </div>
      <% end %>
    <% end %>
    <% c.with(:body) do %>
      <%= simple_format(@event.summary) %>
    <% end %>
  <% end %>
<% else %>
  <%= render TimelineItemComponent.new(
          icon: @event.duration == :no_answer ? "phone-missed-call" : 'phone-outgoing',
          icon_colour: @event.duration == :no_answer ? 'bg-red-300' : 'bg-green-300',
          time: @event.created_at, is_last: @last_event) do |c| %>
    <% c.title do %>
      <div class="flex flex-wrap items-center">
        <div class="mr-2">Call made on <%= format_date(@event.date_of_call) %></div>
        <% if @event.duration == :no_answer %>
          <div class="text-sm text-red-400 italic">no answer</div>
        <% else %>
          <div class="text-sm text-gray-400 italic">call length: <%= @event.humanized_duration %></div>
        <% end %>
      </div>
      <% if @event.concerns %>
        <div class="flex items-start">
          <div><%= icon('exclamation', class: "mr-1 w-6 h-6 text-yellow-400") %></div>
          <span class="text-sm text-yellow-700">
            <span class="font-semibold">Requested a call from the pod leader</span>
            <% if @event.concerns_notes %> <%= @event.concerns_notes %><% end %>
          </span>
        </div>
      <% end %>
      <div class="flex flex-wrap items-center">
        <% if @event.callee_feeling.present? %>
          <div class="flex items-center mr-3 text-sm text-gray-400">
            <div class="mr-1">Callee:</div>
            <%= callee_feeling(feeling: @event.callee_feeling) %>
          </div>
        <% end %>
        <% if @event.caller_feeling.present? %>
          <div class="flex items-center text-sm text-gray-400">
            <div class="mr-1">caller:</div>
            <%= caller_feeling(feeling: @event.caller_feeling) %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% c.body do %>
      <% if @event.duration != :no_answer %><%= simple_format(@event.summary) %><% else %><%= simple_format(@event.no_answer_notes) %><% end %>
    <% end %>
  <% end %>
<% end %>
