<%= tailwind_form_with(
        model: [:a, @person],
        url: a_person_path(@person, params: { page: :personal_details }),
        local: true) do |form| %>
  <%= form.section do %>
    <%= form.select :title, Person.titles.map {|t| [t.humanize, t]}, width: :half %>
    <div class="col-span-3"></div>
    <%= form.text_field :first_name, width: :half, required_asterix: true %>
    <%= form.text_field :last_name, width: :half, required_asterix: true %>
    <%= form.select :age_bracket, Person.age_bracket_options_for_select, width: :full %>
    <%= form.text_field :opas_id, label: "OPAS ID (if applicable)", width: :third %>
  <% end %>
  <%= form.button_section do %>
    <%= form.cancel a_person_path(@person) %>
    <%= form.submit %>
  <% end %>
<% end %>
