<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", a_search_path %>
    <% list.link @person.name, a_person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "show_page_head" %>
<% end %>
<div class="grid grid-cols-4">
  <div>
    <%= render partial: "a/people/edit/menu" %>
  </div>
  <div class="col-span-3 col-start-2">
    <% @person.callee.emergency_contacts.sort_by(&:created_at).each do |contact| %>
      <div class="mb-16">
        <%= tailwind_form_with(
        model: [:a, contact],
        url: "/a/emergency_contacts/#{contact.id}",
        method: :post,
        local: true) do |form| %>
          <%= form.section "Edit #{contact.name}" do %>
            <%= form.text_field :name, width: :half %>
            <%= form.text_field :relationship, width: :half %>
            <%= form.text_field :contact_details, width: :full %>
          <% end %>
          <%= form.button_section do %>
            <div class="flex-1">
              <%= form.delete "/a/emergency_contacts/#{contact.id}" %>
            </div>
            <%= form.cancel a_person_path(@person) %>
            <%= form.submit "Update" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= tailwind_form_with(
        model: [:a, @person],
        url: save_emergency_contacts_a_edit_person_path(@person),
        method: :post,
        local: true) do |form| %>
      <%= form.section "New emergency contact" do %>
        <%= form.fields_for :callee do |callee_fields| %>
          <%= callee_fields.fields_for :emergency_contacts, EmergencyContact.new do |contact_fields| %>
            <%= contact_fields.text_field :name, width: :half %>
            <%= contact_fields.text_field :relationship, width: :half %>
            <%= contact_fields.text_field :contact_details, width: :full %>
          <% end %>
        <% end %>
      <% end %>
      <%= form.button_section do %>
        <%= form.cancel a_person_path(@person) %>
        <%= form.submit%>
      <% end %>
    <% end %>
  </div>
</div>
