<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", a_search_path %>
    <% list.link @person.name, a_person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "show_page_head" %>
<% end %>
<div class="grid grid-cols-4">
  <div>
    <%= render partial: "a/people/edit/menu" %>
  </div>
  <div class="col-span-3 col-start-2">
    <%= tailwind_form_with(
        model: [:a, @person],
        url: save_experience_a_edit_person_path(@person),
        method: :post,
        local: true) do |form| %>
      <%= form.section do %>
        <%= form.fields_for :caller do |caller_fields| %>
          <%= caller_fields.text_area :experience, width: :full %>
          <%= caller_fields.text_area :languages_notes, label: "Languages", width: :full %>
          <!-- <%= caller_fields.select :check_in_frequency, Caller.check_in_frequency_options_for_select, label: "Check-in frequency", width: :full, info_message: "This field is for pod leaders to record how often the caller would like phone calls from their pod leader" %> -->
        <% end %>
      <% end %>
      <%= form.button_section do %>
        <%= form.cancel a_person_path(@person) %>
        <%= form.submit %>
      <% end %>
    <% end %>
  </div>
</div>
