<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "People", a_search_path %>
    <% list.link @person.name, a_person_path(@person) %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render partial: "show_page_head" %>
<% end %>
<div class="grid grid-cols-4">
  <div>
    <%= render partial: "a/people/edit/menu" %>
  </div>
  <div class="col-span-3 col-start-2">
    <%= tailwind_form_with(
        model: [:a, @person],
        url: save_personal_details_a_edit_person_path(@person),
        method: :post,
        local: true) do |form| %>
      <%= form.section do %>
        <%= form.select :title, Person.titles.map {|t| [t.humanize, t]}, width: :half %>
        <div class="col-span-3"></div>
        <%= form.text_field :first_name, width: :half, required_asterix: true %>
        <%= form.text_field :last_name, width: :half, required_asterix: true %>
        <%= form.select :age_bracket, Person.age_bracket_options_for_select, width: :full %>
      <% end %>
      <%= form.button_section do %>
        <%= form.cancel a_person_path(@person) %>
        <%= form.submit %>
      <% end %>
    <% end %>
  </div>
</div>
