<% content_for :breadcrumbs do %>
  <%= breadcrumbs do |list| %>
    <% list.link "Pods", pods_path %>
  <% end %>
<% end %>
<% content_for :page_head do %>
  <%= render PodsHeadComponent.new %>
<% end %>
<% if @pods.length > 0 %>
  <%= table @pods.sort_by(&:name), row_url: ->(p) { url_for(p) } do |tbl| %>
    <% tbl.col "Name" do |pod| %>
      <%= pod.name %>
    <% end %>
    <% tbl.col "Pod Leader" do |pod| %>
      <% if pod.pod_leader %>
        <%= pod.pod_leader.name %>
      <% else %>
        <div class="italic text-blue-500">Not assigned to a pod leader</div>
      <% end %>
    <% end %>
    <% tbl.col "Theme" do |pod| %>
      <%= pod&.theme %>
    <% end %>
    <% tbl.col "Callers" do |pod| %>
      <%= pod.callers.filter(&:active).count %>
    <% end %>
    <% tbl.col "Callees" do |pod| %>
      <%= pod.callees.filter(&:active).count %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center text-gray-600">
    No pods have been added yet :(
  </div>
<% end %>
